<header class="navbar navbar-fixed-top navbarinverse">
  <div class="container">
    <%=link_to "App name", posts_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <p>ログイン中:<%= link_to current_user.name,edit_user_registration_path %>さん</p>
        <% end %>
        <li><%=link_to "ホーム画面へ", posts_path %></li>
        <li><%=link_to "アプリの説明", static_pages_about_path %></li>
        <li><%=link_to "ユーザー情報変更", edit_user_registration_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
